.wrap_personalEdit {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 60px;
  margin-bottom: 208px;
}
.each_personalEdit, .each_personalEdit2, .each_personalEdit3 {
  width: 1290px;
  display: grid;
  cursor: pointer;
  grid-template-columns: 390px 1fr;
  border-bottom: 1px solid #B9C5CB;
}
.each_personalEdit4 {
  grid-gap: 110px;
  width: 1290px;
  display: grid;
  cursor: pointer;
  grid-template-columns: 574px 1fr;
  border-bottom: 1px solid #B9C5CB;
}
.whiteFone:hover {
  background: #ffffff;
}
.each_edit_person {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #15162D;
  padding: 30px 0px;
  margin: 0;
}
.extraMarginTop {
      margin-top: 90px;
}
.personal_det_title {
      margin-bottom: 43px;
      margin-top: 68px;
}
#ammount_finance_title {
      width: 273px;
}
#bank_finance_title {
      width: 324px;
}
.wrap_change_requestBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
.change_requestBtn {
  width: 518px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4FA0FF;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: white;
  font-family: 'Inter-Bold';
  cursor: pointer;
}
#declare_txt {
  grid-column: 1 / 3;
  padding-top: 0px;
}
.spec_declare:hover {
  background: transparent !important;
}
.declare_txt2 {
  padding-top: 0px;
}
#ind_edit_txt {
  width: 300px;
}
.approved {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3246FF;
  grid-column: 2 / 3;
  margin: 0;
  position: relative;
  top: -24px;
  left: 25px;
}
.wrap_contract_docs {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 95px;
}
.each_docProfile {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  border-bottom: 1px solid #B9C5CB;
}
.hiddenEdit, .hiddenEdit3, .hiddenEdit0 {
      display: grid;
      margin-bottom: 167px;
}
.hiddenEdit2 {
    display: block;
    margin-bottom: 258px;
}
.wrap_action_buttons2 {
  grid-column: 1 / 4;
  display: flex;
  position: relative;
  top: 79px;
  left: -129px;
}
.action_btns2 {
  width: 710px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
}
#mainInfo, #forStudent {
  grid-column: 1 / 2;
}
.fullScreen {
      grid-column: 1 / 3;
}
.wrap_action_buttons22 {
  grid-column: 1 / 4;
  display: flex;
  position: relative;
  top: 79px;
  justify-content: center;
}
.personal_main_info {
      margin-bottom: 70px;
}
.wrap_transfer2 {
  position: relative;
  top: -43px;
}
.wrap_case3_id {
  position: relative;
  top: 41px;
  grid-column: 1 / 3;
}
.wrap_transfer4 {
  position: relative;
  top: -43px;
  grid-column: 1 / 4;
}
.wrap_action_buttons22_declare {
  grid-column: 1 / 4;
  display: flex;
  position: relative;
  top: 52px;
  justify-content: center;
}
.wrap_main_checkbox32 {
  width: 20px;
  height: 20px;
  border: 2px solid #4FA0FF;
  backdrop-filter: blur(30px);
  position: relative;
  left: -42px;
}
.menuBarCompany {
  display: grid;
  width: 1290px;
  grid-template-columns: 84px 165px 155px 183px 116px;
  grid-gap: 75px;
  height: 60px;
  border-bottom: 2px solid #B9C5CB;
}
.wrap_partiesAll {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 95px;
  margin: 0;
}
.partiesAll {
  width: 1290px;
}
.wrap_each_comp_party {
  position: relative;
  top: 57px;
  margin-bottom: 127px;
}
.each_comp_party_inside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.alternative_inputs3 {
  width: 420px;
  height: 64px;
  padding-left: 20px;
  color: #15162D;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  margin-top: 2px;
  border: 2px solid #FFFFFF;
  background: transparent;
}
.alternative_inputs3:placeholder {
  color: #15162D;
}
.wrap_allNew {
      margin-bottom: 36px;
}
